*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: #1e3a5f;
}

:root {
    --bg: #ffffff;
    --surface: #f5f5f5;
    --surface2: #eeeeee;
    --border: #e0e0e0;
    --accent: #000000;
    --text: #111111;
    --muted: #888888;
    --radius: 0px;
}

body {
    font-family: poppins-semibold, poppins, sans-serif;
    background: var(--bg);
    color: var(--text);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

/* ── NAV ── */
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 48px;
    border-bottom: 1px solid var(--border);
}

.logo {
    font-size: 1.3rem;
    /* font-weight: 100; */
    letter-spacing: -0.5px;
    /* text-transform: uppercase; */
    color: var(--text);
    /* background: var(--text); */
    color: #000000;
    padding: 6px px;
}

.nav-links {
    display: flex;
    gap: 48px;
}

.nav-links a {
    font-size: 0.85rem;
    color: var(--muted);
    text-decoration: none;
    letter-spacing: 0.3px;
    transition: color 0.2s;
}

.nav-links a:hover {
    color: var(--text);
}

.nav-links a.active {
    color: var(--text);
    border-bottom: 1.5px solid var(--text);
    padding-bottom: 2px;
}

/* ── PAGES ── */
.page {
    display: none;
    flex: 1;
}

.page.active {
    display: flex;
}

/* ── PAGE 0 — Landing ── */
#page0 {
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 80px 48px;
    gap: 8px;
}

.landing-tagline {
    font-size: clamp(3.5rem, 7vw, 5.5rem);
    font-weight: 700;
    letter-spacing: -5px;
    line-height: 1.0;
    color: var(--text);
    max-width: 1000px;
    margin-left: -5px;
}

.landing-sub {
    font-size: 1.2rem;
    color: #2a2a2a9e;
    line-height: 1.65;
    max-width: 1000px;
    margin-bottom: 10px;
    letter-spacing: -0.4px;
}

.btn-start {
    background: #1e3a5f;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 14px 32px;
    font-size: 0.9rem;
    font-weight: 500;
    letter-spacing: 0.6px;
    cursor: pointer;
    transition: background 0.5s;
}

.btn-start:hover {
    background: #25496e;
}

.btn-start::after {
    display: none;
}

/* ── PAGE 1 ── */
#page1 {
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 80px 48px;
}

.hero-label {
    font-size: 0.75rem;
    font-weight: 600;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: var(--muted);
    margin-bottom: 20px;
}

h1 {
    font-size: clamp(3.5rem, 7vw, 3rem);
    font-weight: 700;
    line-height: 1;
    letter-spacing: -4px;
    margin-bottom: 20px;
    color: var(--text);
    max-width: 1000px;
}

.subtitle {
    color: var(--muted);
    font-size: 1rem;
    margin-bottom: 36px;
}

.search-card {
    width: 100%;
    max-width: 520px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.field {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

label {
    font-size: 0.72rem;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: var(--text);
}

/* input, select {
    background: transparent;
    border: none;
    border-bottom: 1.5px solid #11111136;
    border-radius: 0;
    color: #11111175;
    font-size: 1rem;
    padding: 12px 0;
    outline: none;
    transition: border-color 0.2s;
    width: 100%;
    appearance: none;
    -webkit-appearance: none;
}

input::placeholder {
    color: var(--muted);
} */

input:focus, select:focus {
    border-bottom-color: var(--text);
}

input, select {
    background: transparent;
    border: none;
    border-bottom: 1.5px solid #11111136;
    border-radius: 0;
    color: #111111;
    font-size: 1rem;
    padding: 12px 0;
    outline: none;
    transition: border-color 0.2s;
    width: 100%;
    appearance: none;
    -webkit-appearance: none;
}

input::placeholder {
    color: #11111175;
}



select {
    color: #11111175;
}

select:not([value=""]):valid {
    color: #111111;
}

/* select option {
    background: #fff;
} */

.select-wrap {
    position: relative;
}

.select-wrap::after {
    content: '›';
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%) rotate(90deg);
    color: var(--muted);
    pointer-events: none;
    font-size: 1.1rem;
}

.btn {
    background: #1e3a5f;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 14px 32px;
    font-size: 0.9rem;
    font-weight: 500;
    letter-spacing: 0.6px;
    cursor: pointer;
    align-self: flex-start;
    margin-top: 8px;
    transition: background 0.5s;
}

.btn:hover {
    background: #25496e;
}

/* ── PAGE 2 ── */
#page2 {
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 80px 48px;
}


.results-header {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    margin-bottom: 48px;
    border-bottom: 1.5px solid #11111136;
    padding-bottom: 20px;
    gap: 12px;
}

.results-header h2 {
    font-size: clamp(3.5rem, 7vw, 3rem);
    font-weight: 700;
    line-height: 1;
    letter-spacing: -4px;
    margin-bottom: 20px;
    color: var(--text);
    max-width: 1000px;
}

.results-meta {
    font-size: 0.85rem;
    color: var(--muted);
    margin-top: 4px;
    letter-spacing: 0.2px;
}

.btn-back {
    background: #1e3a5f;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 0.85rem;
    font-weight: 500;
    cursor: pointer;
    transition: background 0.5s;
    white-space: nowrap;
    letter-spacing: 0.3px;
}

.btn-back:hover {
    background: #25496e;
}

#results-container {
    display: flex;
    flex-direction: column;
    gap: 0;
}

.state-msg {
    color: var(--muted);
    padding: 60px 0;
    font-size: 0.95rem;
}

/* ── PAGE 3 ── */
#page3 {
    flex-direction: column;
    padding: 64px 48px;
    width: 100%;
}

/* ── FLIGHT CARD ── */
.flight-card {
    background: transparent;
    border: none;
    border-bottom: 1px solid var(--border);
    border-radius: 0;
    padding: 22px 0;
    display: flex;
    align-items: center;
    transition: background 0.5s;
    cursor: pointer;
    transition: border 0.5s;
}

.flight-card:hover {
    border-bottom-color: #0000008f;
}



.card-route {
    display: flex;
    align-items: center;
    gap: 12px;
    min-width: 180px;
}

.airport-code {
    font-size: 1.1rem;
    font-weight: 600;
    letter-spacing: -0.9px;
}

.route-arrow {
    color: var(--muted);
    font-size: 0.85rem;
}

.sep {
    width: 1px;
    height: 20px;
    background: var(--border);
    margin: 0 24px;
    flex-shrink: 0;
}

.airline-name {
    font-size: 0.9rem;
    color: var(--muted);
    flex: 1;
}

.card-badge {
    font-size: 0.65rem;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: var(--muted);
    border: 1px solid var(--border);
    border-radius: 0;
    padding: 4px 10px;
    flex-shrink: 0;
}

.flight-price {
    font-size: 1.2rem;
    font-weight: 800;
    min-width: 70px;
    text-align: right;
    flex-shrink: 0;
    margin-left: 24px;
    letter-spacing: -0.9px;
    color: #3f6c41;
}