.title {
  padding-bottom: 10px;
}

.navbar {
  padding-top: 20px;
}

.footer {
  padding-top: 20px;
  padding-bottom: 20px;
}

.footer-text {
  font-size: 13px;
}

.hero-body {
  padding-top: 0px;
}

*:focus {
  box-shadow: none !important;
}

.form-control {
  border: none;
  /* Remove all borders */
  border-bottom: 1px solid #ccc;
  /* Add bottom border */
  border-radius: 0;
  /* Remove rounded corners */
  outline: none;
  /* Remove outline */
  box-shadow: none;
}

.form-control:focus {
  border-bottom-color: rgba(72, 72, 72, 0.254);
  /* Change bottom border color on focus */
  box-shadow: none;
  /* Remove box shadow on focus */
}