html {
  font-size: 16px;
}

body {
  margin: 0;
  font-family: poppins-semibold, poppins, sans-serif;
  background-color: #fffffe;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

hr {
  color: #001e1d6a;
}

.question-text {
  display: flex;
  flex-grow: auto;
  justify-content: space-between;
  flex-direction: row;
  align-items: flex-end;
  flex-wrap: wrap;
}

.question-hr {
  opacity: 0;
}

h1 {
  margin-bottom: 1rem;
  font-size: 3.5rem;
  font-weight: 700;
  margin-top: 0rem;
  line-height: 3.5rem;
  color: #020826;
}

h2 {
  margin-bottom: 0rem;
  font-size: 1.7rem;
  margin-top: 0rem;
  color: #020826;
}

h3 {
  padding: 0px;
  margin-bottom: 18px;
  color: #716040;
  font-size: 1.05em;
  margin-top: 0px;
  font-weight: 400;
}

#step1 {
  padding-left: 20%;
  padding-right: 20%;
}

#step2 {
  padding-left: 8rem;
  padding-right: 8rem;
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.wrapper {
  width: 80%;
}

#start-btn,
#search-btn,
#restart-btn {
  padding-top: 1px;
  right: 1px;
  bottom: 0;
  border-radius: 5px;
  border: none;
  width: 150px;
  height: 37px;
  font-weight: 600;
  background-color: #8c7851;
  color: #fffffe;
  cursor: pointer;
  font-size: 14px;
  letter-spacing: 0.6px;
  font-family: proxima-nova, sans-serif;
}

.card {
  animation: fadeIn 0.4s ease;
}

.hidden {
  display: none !important;
}

.title {
  font-size: 28px;
  font-weight: 600;
  margin-bottom: 10px;
  text-align: center;
}

.subtitle {
  text-align: center;
  color: #666;
  margin-bottom: 26px;
}

.step-title {
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 20px;
}

.input {
  width: 100%;
  padding: 14px 16px;
  border: 1px solid #ddd;
  border-radius: 12px;
  font-size: 15px;
  margin-bottom: 20px;
  transition: all 0.2s;
}

.input:focus {
  border-color: #6c5ce7;
  outline: none;
}

button {
  transition: box-shadow 0.25s ease;
}

button:hover,
button:focus-visible {
  box-shadow: 0 0 0 0.5px rgba(0, 0, 0, 0.6);
}

button:focus-visible {
  outline: none;
}

.btn-wrapper {
  display: flex;
  justify-content: flex-start;
}

.btn {
  width: 100%;
  padding: 16px;
  border-radius: 12px;
  border: none;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  transition: 0.2s;
}

input[type="text"],
input[type="number"] {
  width: 99.5%;
  /* border-style: inset; */
  margin-top: 20px;
  padding-bottom: 10px;
  border-bottom: 1px solid #000000b8;
  margin-bottom: 1.5rem;
  font-size: 1.1rem;
  outline: none;
  transition: border 0.3s ease;
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  background-color: #fffffe;
  color: #020826;
  opacity: 0.7;
}

.home-icon {
  width: 90px;
}

.icon {
  width: 50px;
}

#result-cards {
  display: flex;
  padding-top: 20px;
  padding-bottom: 30px;
  flex-direction: column;
  justify-content: center;
  text-transform: capitalize;
}

#result-cards>* {
  transition: all 0.5s ease;
}

#results-loading {
  width: 40px;
  animation: rotate 1s infinite linear;
}

.loading {
  display: flex;
  justify-content: center;
  height: 100%;
  align-content: space-between;
  flex-direction: column;
  align-items: center;
}

.summary {
  font-size: 16px;
  margin-bottom: 20px;
  color: #444;
  text-align: center;
}

.flight-card:hover * {
  color: #020826c4;
}

.flight-card {
  position: relative;
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  /* border: 1px solid #00000024; */
  /* border-radius: 5px; */
  /* padding: 1rem 1.25rem; */
  padding-top: 0.5rem;
  padding-bottom: 1.5rem;
  margin: 0.5rem 0;
  transition: all 0.3s ease;
  cursor: pointer;
  /* font-family: unset; */
  /* text-transform: capitalize; */
  height: 30px;
  align-content: space-around;
  flex-wrap: nowrap;
  flex-direction: column;
}

.flight-price {
  /* font-size: 0.95rem; */
  font-weight: 700;
  color: #020826a6;
  margin-left: auto;
}

.flight-route {
  font-size: 1rem;
  color: #020826;
  display: flex;
  align-items: center;
  gap: 0.4rem;
}

.flight-airline {
  font-size: 0.95rem;
  font-weight: 500;
  color: #64748b;
  /* margin-left: auto; */
}

.arrow {
  font-weight: 400;
  color: #64748b;
  /* slate-500 */
}

.origin,
.destination {
  font-weight: 700;
  color: #020826a6;
  text-transform: uppercase;
  width: max-content;
}

.fade-in {
  opacity: 0;
  transform: translateY(10px);
  transition: opacity 0.5s ease, transform 1s ease;
}

.show {
  opacity: 1;
  transform: translateY(0);
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(8px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

/* #results-header-img {
  width: 100%;
} */

/* Make the welcome screen a flex container */
#welcomeScreen {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

#welcomeScreen .welcome-left {
  flex: 1;
}

#welcomeScreen .welcome-right {
  flex: 1;
  display: flex;
  flex-grow: 1.5;
  justify-content: center;
  /* push image to the right */
  align-items: center;
}

#welcomeScreen .welcome-right img {
  max-width: 500px;
  /* height: auto; */
  /* border-radius: 12px; */
  /* object-fit: cover; */
  padding-top: 70px;
  padding-bottom: 70px;
  padding-left: 0px;
}

.flight-line {
  /* border-bottom: #020826; */
  width: 100%;
  border-bottom: 1px solid #02082629;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 6px;
}

.flight-card-row-1 {
  display: flex;

  flex-direction: row;

  justify-content: space-between;

  flex-wrap: nowrap;

  padding-bottom: 2px;
}

.flight-card-row-2 {
  display: flex;

  flex-direction: row;

  justify-content: flex-start;

  align-content: center;
}