body {
    font-family: "Arial Unicode MS", sans-serif;
    font-size: 14px;
}

#currency {
    font-family: Tahoma, Helvetica, "Arial Unicode MS", sans-serif;
}

.inline-label {
    font-weight: bold;
}

span {
    text-transform: capitalize;
}